<section id="FAQs">
  <div class="title-faqs">
    <h2><strong><u>Frequently Asked Questions</u></strong></h2>
    <p>For any other enquiries, just leave us a message!</p>
  </div>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Question #1
          </a>
        </h4> <!-- end panel-title #1 -->
      </div> <!-- end #headingOne -->
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam imperdiet eu erat quis elementum. Integer ornare congue nunc. Nullam felis velit, feugiat eget felis at, gravida eleifend orci. Vivamus sed ante facilisis, placerat est nec, hendrerit purus. Praesent venenatis et metus vel sagittis. Nam pulvinar leo lectus, non consequat lectus tempor a. Morbi et luctus purus. Mauris facilisis elementum massa a rutrum. Aliquam sed dignissim tortor. Mauris accumsan felis fringilla dolor porta convallis. Morbi dapibus sit amet arcu non lacinia. Sed lectus lectus, venenatis ac urna et, efficitur dapibus felis. Sed mollis lacus neque, dapibus commodo magna vehicula sed.
        </div> <!-- end panel-body #1 -->
      </div> <!-- end #collapseOne -->
    </div> <!--end panel panel-default collapseOne -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"aria-expanded="false" aria-controls="collapseTwo">
            Question #2
          </a>
        </h4> <!-- end panel-title #2 -->
      </div> <!-- end headingTwo -->
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          Proin eleifend erat eget ornare ullamcorper. Nunc sit amet sollicitudin nunc. Fusce dapibus turpis eget orci malesuada pellentesque sit amet sit amet justo. Nunc scelerisque lectus leo, nec hendrerit libero pellentesque ac. Duis nec lacus a elit commodo mattis eget nec lectus. Mauris in tellus vitae diam consequat euismod. Nullam dapibus elit eu libero consectetur consectetur. Donec ut est in odio blandit vestibulum. Duis pretium lectus purus, pulvinar elementum est pellentesque vel. Quisque consequat felis purus, id tristique eros euismod eget. Sed luctus turpis lectus, sit amet porttitor neque auctor vel. Integer metus purus, rhoncus nec risus eget, ullamcorper pharetra lacus. Duis mattis, sem quis consectetur semper, leo nisi volutpat risus, et sagittis tortor ipsum vel dolor. Aliquam a ligula ante. Donec id consectetur nulla. Aenean sit amet ex convallis, condimentum arcu ut, luctus lacus.
        </div> <!-- end panel-body #2 -->
      </div> <!-- end #collapseTwo -->
    </div> <!--end panel panel-default #2 -->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Question #3
            </a>
          </h4> <!-- end panel-title #3 -->
        </div> <!-- end headingThree -->
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            Praesent eu lectus tincidunt, tristique orci vitae, consectetur magna. Donec ac ante nisl. Aenean id lacinia magna, ut placerat urna. Vestibulum efficitur elit nec gravida aliquet. Vestibulum quis magna quis lorem sollicitudin bibendum. Quisque non vehicula tellus. Praesent dictum, mauris id commodo commodo, massa justo egestas purus, at maximus ipsum felis eget sapien. Sed egestas egestas nisi. Nulla facilisi. Nullam vitae feugiat dui. Etiam tellus mi, gravida ac pharetra id, laoreet eget velit. Nullam vitae velit eget nibh rhoncus ornare at ac libero. Donec massa odio, semper quis nisl non, pharetra viverra enim. Cras nec dapibus mauris.
          </div> <!-- end panel-body #3 -->
        </div> <!-- end collapseThree -->
      </div> <!-- end panel panel-default #3 -->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Question #4
            </a>
          </h4> <!-- end panel-title #4 -->
        </div> <!-- end panel-heading #4 -->
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">
            Etiam pulvinar libero finibus commodo suscipit. Pellentesque fringilla ex vitae ligula consequat, vitae posuere felis sodales. Praesent at dolor sagittis, lacinia lorem sed, ultrices mauris. Phasellus gravida turpis eu urna facilisis lobortis. Morbi non tortor ante. Fusce ultricies cursus laoreet. Sed placerat velit sed risus dictum placerat. Etiam sit amet accumsan enim. Curabitur eu finibus mauris, ut pretium felis. Vivamus finibus rutrum luctus. Aenean blandit nisl eget hendrerit tincidunt. Sed ligula erat, dignissim eu eros at, tincidunt tristique magna. Praesent sed urna et augue pretium mollis. Phasellus sit amet arcu sit amet neque iaculis venenatis. Sed risus lectus, imperdiet in purus ut, sollicitudin venenatis mi.
          </div> <!-- end panel-body #4 -->
        </div> <!-- end collapseFour -->
      </div> <!-- end panel panel-default #4 -->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Question #5
            </a>
          </h4> <!-- end panel-title #5 -->
        </div> <!-- panel-heading #5 -->
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body">
            Sed ut dolor in elit accumsan tempus vitae eu diam. Donec aliquet ante quis lobortis volutpat. Vivamus eget magna maximus, semper augue eu, porttitor justo. Sed lorem metus, cursus sed pharetra sed, convallis vel lectus. Nullam sagittis velit non quam tincidunt bibendum nec vel justo. Aenean eget pellentesque est. Nullam vel augue molestie, laoreet nulla et, laoreet libero. Mauris lobortis mi nec sapien accumsan hendrerit. Cras et libero imperdiet, vehicula augue a, ornare massa. Quisque porttitor commodo magna, a consequat augue varius molestie. Mauris finibus neque vitae quam hendrerit, sit amet feugiat odio eleifend. Mauris placerat mauris vitae vestibulum convallis. Integer in nulla felis. Morbi molestie pharetra orci sit amet sodales. Etiam vehicula aliquam purus, ut consectetur purus hendrerit sit amet.
          </div> <!-- end panel-body #5 -->
        </div> <!-- end collapseFive -->
      </div> <!-- and panel panel-default #5 -->
    </div> <!-- end #accordion -->
</section>
