<section id="products">
  <h2>Products </h2>
  <p> New stock in regularly, feel free to contact us for more info.</p>
  <div class="row">
    <div id="for-sale" align="center">
      <div class="col-md-4 col-lg-4">
        <%=image_tag("red-brompton.jpg", class: "img-responsive")%>
        <p>Brompton</p>
      </div>
      <div class="col-md-4 col-lg-4">
        <%=image_tag("otherbikes.JPG", class: "img-responsive")%>
        <p>Other bikes</p>
      </div>
      <div class="col-md-4 col-lg-4">
        <%=image_tag("dezeen_Folder.jpg", class: "img-responsive")%>
        <p>Dezeen Folder</p>
      </div>
    </div>
  </div>
</section>