<section id="products">
  <h2>Products </h2>
  <p> New stock in regularly, feel free to contact us for more info.</p>
  <div class="col-md-4 col-lg-4" id="for-sale">
    <%=image_tag("red-brompton.jpg" class: "img-responsive")%>
    <%=image_tag("otherbikes.JPG" class: "img-responsive")%>
    <%=image_tag("dezeen_Folder.jpg" class: "img-responsive")%>
  </div>
</section>