// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	
	background-image : url("background111.jpg");
	color : #FFFFFF;
	text-align : center;

}

#store-front {
	padding-top : 4em;
}

#about {

	padding-top : 4em;

}

#contact {

	padding-top : 4em;

}

#products {

	padding : 4em 0em 2em;
}

#for-sale {

	vertical-align : auto;
	padding : 2em;

}

#FAQs {

	padding-top : 4em;
}